.thumbnail{
    max-width: 330px;
    max-height: 185px;
    border-radius:0.4rem;
    margin: 0 auto;
}
.video-title{
    margin: 0;
}
.video-details{
    display: flex;
    justify-content: space-between;
    max-width: 330px;
    align-items: center;
    margin: 0.5rem 1rem;
    color: var(--border);
}
.video-card{
    max-width:350px;
    background-color: var(--header-background);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--from-border);
    justify-content: space-around;
    padding: 1rem 1rem;
    border-radius:0.4rem ;
    text-decoration: none;
    height: 250px;
    max-height: 250px;
}
.icon:hover{
    cursor: pointer;
}
.video-card:hover{
    cursor: pointer;
}
.more-icon:hover{
background-color: var(--card-background);
color: var(--cta);
border-radius: 50%;
}