.home{
    min-height: 100%;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-auto-rows:5rem 1fr;
    grid-template-areas:
    'header header'
    'sidebar videoListing';
   gap:0;
}
.videoListing{
    margin: 2rem;
    grid-area: videoListing;
}

.videos{
   display: grid;
   grid-template-columns: repeat(3,1fr);
}
.background-filter{
    /* backdrop-filter: grayscale(5%) opacity(0.8); */
    background-color: rgba(20,19,25,0.8);
}