.video-responsive{
    width: 100%;
    padding: 1rem;
    border: 4px solid var(--from-border);
    background-color: var(--header-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: min-content;
    border-radius: 0.4rem;
}
.video{
    border-radius: 0.4rem;
    margin-left:auto ;
    min-width:90% ;
    max-height: 80%;
}
.fw-semibold{
    margin: 0;
}
.fw-light{
    margin:0;
}
.videoPlayer-btn{
    background-color: var(--card-background);
    color: var(--border);
    border:none;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    gap:0.5rem;
    padding: 0.5rem;
}
.video-player-actions{
    display: flex;
    justify-content: space-around;
    gap:1rem;
}
.added{
    color: hotpink;
    background-color: var(--card-background);
}